@import-normalize; /* bring in normalize.css styles */

audio,
video {
  display: inline-block;
}

img {
  border-style: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Raleway heavy;
}

p {
  font-family: Signika;
}

/* p {
  margin: 0;
} */

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
